body
  background: black
  color: #fff
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px

h1
  text-align: center
  margin-bottom: 0
  margin-top: 10px
  font-size: 30px
  a
    color: mediumseagreen
    text-decoration: none

h3
  margin: 0

.root-container
  text-align: center

ul
  list-style-type: none
  margin: 0
  padding: 0

.device-list
  text-align: left
  background: #484848
  border: 2px solid #c3c3c3
  color: #B5BABE
  padding: 10px
  margin: 5px 5px 0 5px

.container
  display: inline-block
  width: 220px

.device-port
  padding: 10px
  &.active
    color: #5CCF7A


.buttons
  margin-top: 5px
  display: inline-block

button
  position: relative
  background: #5CCF7A
  border: none
  border-radius: 0
  margin: 5px
  padding: 15px 40px
  display: inline-block
  font-size: 20px
  color: #fff
  margin-right: 20px

  &.red
    background: #E65368


.refresh
  position: absolute
  right: 10px
  top: 0px
  color: #484848
  font-size: 40px
  font-weight: bold


